    svg {

    	border-color:black;
    	border-width:10px;
    	border-style:solid;


    }

    @-webkit-keyframes fadeout {
	    from {
	        opacity: 1;
	    }
	    to {
	        opacity: 0;
	    }
	}

	@-webkit-keyframes fadein {
	    from {
	        opacity: 0;
	    }
	    to {
	        opacity: 1;
	    }
	}

    /* THIS IS THE MOVEMENT OF THE FENCE */
    rect.fence {
    	-webkit-animation: fencewalk 5s 5s linear forwards,
    					   fencewalkhome 5s 38s linear forwards;
    }

    @-webkit-keyframes fencewalk {
    	from {transform: translateX(0px);}
    	to {transform: translateX(-530px);}
    }

    @-webkit-keyframes fencewalkhome {
    	from {transform: translateX(-530px);}
    	to {transform: translateX(0px);}
    }

    /* THIS IS THE APPEARANCE/DISAPPEARANCE OF THE FENCE */
    .fenceparts {
    	-webkit-animation: fadeout .5s 12s forwards,
    					   fadein .5s 14s forwards,
    					   fence_become_night 1s 24s forwards,
    					   fadeout .5s 34s forwards,
    					   fadein .5s 36s forwards;

    }

    @-webkit-keyframes fence_become_night {

    	from { fill: darkgray;}
    	to {fill: lightslategray;}

    }

    /* THIS IS THE OPACITY OF THE GRASS IS GREENER*/
    .grass_is_greener {

    	-webkit-animation: become_greener .5s 12s forwards,
    					   become_less_green .5s 14s forwards,
    					   become_greener .5s 34s forwards,
    					   become_less_green .5s 36s forwards; 
    }
    
    @-webkit-keyframes become_greener {
    	from {opacity:.6;}
    	to {opacity:1;}
    }
    @-webkit-keyframes become_less_green {
    	from {opacity:1;}
    	to {opacity:.6;}
    }

    /* THIS IS THE DAY/NIGHT SKY */
    .grass_is_greener > rect {
    	-webkit-animation: sky_become_night 1s 24s forwards,
    					   sky_become_night 1s 50s reverse forwards; /* fix later */

    }

    @-webkit-keyframes sky_become_night {
    	from { fill: lightblue;}
    	to {fill: darkblue;}
    }

    /* THESE ARE THE DAY/NIGHT FIELD COLORS */
    .field1 {
    	-webkit-animation: field1_become_night 1s 24s forwards,
    					   field1_become_night 1s 50s reverse forwards; /* fix later */

    }

    @-webkit-keyframes field1_become_night {

    	from { fill: #55AE3A;}
    	to {fill: #1c3813;}

    }

    .field2 {
    	-webkit-animation: field2_become_night 1s 24s forwards,
    					   field2_become_night 1s 50s reverse forwards; /* fix later */

    }

    @-webkit-keyframes field2_become_night {

    	from { fill: #4DBD33;}
    	to {fill: #1b4112;}

    }

    /* THIS DOES THE DOG BOUNCING AND APPEARING/DISAPPEARING */
    g.dog {
    	-webkit-animation: bounce 0.5s 0s 20, 
    					   fadeout .5s 10s,
    					   fadein 1s 16s forwards,
    					   shrug .5s 17s 1,
    					   bounce .5s 18s 10,
    					   bounceback 0.5s 26s 12,
    					   bounceback .5s 38s 23,
    					   bounce 0.5s 50s 30;

    	/*-webkit-animation: fadeout 1s 3s forwards;*/
    }

    @-webkit-keyframes bounce {
    	from {transform:translateY(0px);}
    	50% {transform:translateY(10px);}
    	to {transform:translateY(0px);}
    }

    @-webkit-keyframes bounceback {
    	from {transform:translateY(0px) scale(-1,1);}
    	50% {transform:translateY(10px) scale(-1,1);}
    	to {transform:translateY(0px) scale(-1,1);}
    }

    @-webkit-keyframes shrug {
    	from {transform:translateY(0px);}
    	50% {transform:translateY(-5px);}
    	to {transform:translateY(0px);}

    }

	/* THIS DOES THE DOG MOVEMENT*/
    g.dog_container {
							/* walk_in_from_left starts part two below */
    	-webkit-animation: walk_in_from_left 5s 0s linear, 
    					   fadeout .5s 10s linear forwards,
    					   fadein .5s 16s linear forwards,
    					   walk_out_from_left 5s 18s linear,
    					   walk_out_from_left 6s 26s linear reverse,
    					   fadeout .5s 32s linear forwards,
    					   fadein .5s 38s linear forwards,
    					   walk_in_from_left 6s 43s linear reverse,
    					   walk_in_from_left 5s 50s linear,
    					   walk_out_from_left 5s 60s linear; /* stuff comes after!! */
    					   
    } 

    @-webkit-keyframes walk_in_from_left {
    	from {transform:translate(0px,0px);}
    	to { transform:translate(427px,0px);}
    }

    @-webkit-keyframes walk_out_from_left {
    	from {transform:translate(427px,0px);}
    	to { transform:translate(854px,0px);}
    }

    /* THIS IS THE DOG STARING OUT THE FENCE */
    .staring_dog {
    	opacity: 0;

    	-webkit-animation: fadein .5s 10s forwards,
    					   fadeout .5s 12s forwards,
    					   fadein .5s 14s forwards,
    					   fadeout .5s 16s forwards,
    					   fadein .5s 32s forwards,
    					   fadeout .5s 34s forwards,
    					   fadein .5s 36s forwards,
    					   fadeout .5s 38s forwards;
    }

	/* WEATHER */
    .rain>rect {
    	opacity:0;
    	-webkit-animation: rainfall 5s 60s linear infinite;
    }

    @-webkit-keyframes rainfall {

    	from {opacity: 1; transform: translate(0px, 0px);}
    	to {opacity: 1; transform: translate(0px,1000px);}
    }

    .snow>circle {
    	opacity:0;

    	-webkit-animation: snowfall 10s 50s linear infinite;
    }

    @-webkit-keyframes snowfall {

    	from {opacity: 1; transform: translate(0px, 0px);}
    	to {opacity: 1; transform: translate(0px,480px);}
    }

    .leaf>ellipse {

    	-webkit-animation: leafdrop 10s linear infinite;
    	-webkit-animation-delay:0s;
    }

    @-webkit-keyframes leafdrop {

    	from {transform: translate(0px, 0px) rotate(-30deg, 20, 90) scale(1,1);}
    	50% {transform: translate(100px,240px) rotate(30deg, 50,50) scale(-1,1);}
    	to {transform: translate(-100px,480px) rotate(-30deg, -20,-90) scale(1,1);}
    }
    /* END WEATHER */